* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    color: #34495e;
    background-color: #f5f6f8;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #34495e;
    background-color: #f5f6f8;
    margin-top: 20px;

    .container {
        @media only screen and (max-width: 575px) {
            padding-right: 8px;
            padding-left: 8px;
        }

        .page-title {
            text-align: left;
            margin-bottom: 30px;

            span.subtitle {
                text-transform: uppercase;
                letter-spacing: .125rem;
                color: #818ea3;
                font-size: .625rem;
                font-weight: 500;
            }

            h3 {
                text-align: left;
                font-size: 1.625rem;
                font-weight: 500;

                @media only screen and (max-width: 575px) {
                    margin-bottom: 1px;
                }
            }
        }

        .card {
            color: #34495e;
            border: none;
            border-radius: 0.375rem;
            -webkit-box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
            box-shadow: 0 2px 0 rgba(90,97,105,.11), 0 4px 8px rgba(90,97,105,.12), 0 10px 10px rgba(90,97,105,.06), 0 7px 70px rgba(90,97,105,.1);
            margin-bottom: 30px;
            .card-body {
                @media only screen and (max-width: 575px) {
                    padding: 15px;
                }

                .card-header {
                    text-align: left;
                    background: #fff;
                    margin-bottom: 10px;
        
                    @media only screen and (max-width: 575px) {
                        padding: 0.75rem;
                    }
        
                    h6 {
                        margin: 0;
                    }
                }

                .card-body {
                    @media only screen and (max-width: 575px) {
                        padding: 15px 0;
                    }
                }

            }
        }
    }
}